<section class="table-flip-scroll">

	<table class="table table-bordered table-striped cf ">
		<thead>
			<tr>
				<th><div class="th">  
						Transmission ID <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('transmissionID') "
							data-ng-class="{active: row == 'transmissionID'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons"
							data-ng-click=" order('-transmissionID') "
							data-ng-class="{active: row == '-transmissionID'}"></span>
					</div></th>
				<th><div class="th">
						Effective Date <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('effectiveDate') "
							data-ng-class="{active: row == 'effectiveDate'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons"
							data-ng-click=" order('-effectiveDate') "
							data-ng-class="{active: row == '-effectiveDate'}"></span>
					</div></th>
				<th><div class="th">
						Effective Time <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('effectiveTime') "
							data-ng-class="{active: row == 'effectiveTime'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons"
							data-ng-click=" order('-effectiveTime') "
							data-ng-class="{active: row == '-effectiveTime'}"></span>
					</div></th>
				<th><div class="th">
						Ship-To <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('shipTo') "
							data-ng-class="{active: row == 'shipTo'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-shipTo') "
							data-ng-class="{active: row == '-shipTo'}"></span>
					</div></th>
				<th><div class="th">
						Site # <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('site') "
							data-ng-class="{active: row == 'site'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-site') "
							data-ng-class="{active: row == '-site'}"></span>
					</div></th>
				<th><div class="th">
						Address <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('address') "
							data-ng-class="{active: row == 'address'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-address') "
							data-ng-class="{active: row == '-address'}"></span>
					</div></th>
				<th><div class="th">
						REG <span class="fa fa-angle-up hide_sortable_icons" data-ng-click=" order('reg') "
							data-ng-class="{active: row == 'reg'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-reg') "
							data-ng-class="{active: row == '-reg'}"></span>
					</div></th>
				<th><div class="th">
						Change <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('regChange') "
							data-ng-class="{active: row == 'regChange'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-regChange') "
							data-ng-class="{active: row == '-regChange'}"></span>
					</div></th>
				<th><div class="th">
						MID <span class="fa fa-angle-up hide_sortable_icons" data-ng-click=" order('mid') "
							data-ng-class="{active: row == 'mid'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-mid') "
							data-ng-class="{active: row == '-mid'}"></span>
					</div></th>
				<th><div class="th">
						Change <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('midChange') "
							data-ng-class="{active: row == 'midChange'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-midChange') "
							data-ng-class="{active: row == '-midChange'}"></span>
					</div></th>
				<th><div class="th">
						PRM <span class="fa fa-angle-up hide_sortable_icons" data-ng-click=" order('prm') "
							data-ng-class="{active: row == 'prm'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-prm') "
							data-ng-class="{active: row == '-prm'}"></span>
					</div></th>
				<th><div class="th">
						Change <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('prmChange') "
							data-ng-class="{active: row == 'prmChange'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-prmChange') "
							data-ng-class="{active: row == '-prmChange'}"></span>
					</div></th>
				<th><div class="th">
						DSL <span class="fa fa-angle-up hide_sortable_icons" data-ng-click=" order('dsl') "
							data-ng-class="{active: row == 'dsl'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-dsl') "
							data-ng-class="{active: row == '-dsl'}"></span>
					</div></th>
				<th><div class="th">
						Change <span class="fa fa-angle-up hide_sortable_icons"
							data-ng-click=" order('dslChange') "
							data-ng-class="{active: row == 'dslChange'}"></span> <span
							class="fa fa-angle-down hide_sortable_icons" data-ng-click=" order('-dslChange') "
							data-ng-class="{active: row == '-dslChange'}"></span>
					</div></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="store in currentPageStores">
				<td>{{store.transmissionID}}</td>
				<td>{{store.effectiveDate}}</td>
				<td>{{store.effectiveTime}}</td>
				<td>{{store.shipTo}}</td>
				<td>{{store.site}}</td>
				<td>{{store.address}}</td>
				<td>{{store.reg}}</td>
				<td>{{store.regChange}}</td>
				<td>{{store.mid}}</td>
				<td>{{store.midChange}}</td>
				<td>{{store.prm}}</td>
				<td>{{store.prmChange}}</td>
				<td>{{store.dsl}}</td>
				<td>{{store.dslChange}}</td>
			</tr>
		</tbody>
	</table>


</section>
