<div class="main-container">
            <section id="content" class="content-container {{admin.pageTransition.class}}">
            
			<!-- Main Code -->
				<div class="page page-table">
				
					<section class="panel panel-default table-dynamic">
						<div class="panel-heading" name="dataTableStart" id="dataTableStart">
							<strong><span class="glyphicon glyphicon-th"></span> Retail Pricing</strong>
						</div>
				
						<section data-ng-include=" 'app/pricing/retail-pricing/RetailPricingSearchForm.html' "></section>
						<section data-ng-include=" 'app/pricing/retail-pricing/RetailPricingGrid.html' "></section>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span> Show <select data-ng-model="numPerPage"
										data-ng-options="num for num in numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
									</select> entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm" ng-model="currentPage"
										total-items="filteredStores.length" max-size="4"
										ng-change="select(currentPage)" items-per-page="numPerPage"
										rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;"
										boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</section>
				
				</div>
			<!-- Main Code -->
			
 			</section>
        </div>