<div id="thirdCardDiv" data-ng-show="thirtCardFlag">
			<section class="panel panel-default">
					<div class="page page-table wizard clearfix" role="application"
						id="steps-uid-1">
						<div class="steps clearfix">
							<ul role="tablist">
								<li role="tab" class="first done hide_title_block" aria-disabled="false"
									aria-selected="false"><a id="steps-uid-0-t-0" href=""
									aria-controls="steps-uid-0-p-0"><span class="number">1.</span>
										Enter Prices</a></li>
								<li role="tab" class="done hide_title_block" aria-disabled="false"
									aria-selected="false"><a id="steps-uid-0-t-1" href=""
									aria-controls="steps-uid-0-p-1"><span class="number">2.</span>
										Preview</a></li>
								<li role="tab" class="last current" aria-disabled="false"
									aria-selected="true"><a id="steps-uid-0-t-2" href=""
									aria-controls="steps-uid-0-p-2"><span
										class="current-info audible">current step: </span><span
										class="number">3.</span> Confirmation</a></li>
							</ul>
						</div>
						<div class="content clearfix">
							<h1 id="steps-uid-1-h-0" tabindex="-1" class="title current">First
								Step</h1>
							<div id="steps-uid-1-p-0" role="tabpanel">
								<div class="table-filters" style="margin-top: 20px;">
									<div class="row">
										<div class="col-sm-12 col-xs-12">
											<h4 class="confirm_text">Thank you, we have received competitor price request.</br></br>
											In case of any doubts you could contact your sales
												representative.</br></br>
												<a class="btn btn-primary confirm_text" onClick="window.location.reload()" role="button">Add New Competitor Price</a>
												</h4>
												
										</div>
										
									</div>
								</div>

							</div>
							<div id="steps-uid-0-p-0" role="tabpanel"
								aria-labelledby="steps-uid-0-h-0" class="body current"
								aria-hidden="false"></div>
							<h1 id="steps-uid-0-h-1" tabindex="-1" class="title">Second
								Step</h1>
							<div id="steps-uid-0-p-1" role="tabpanel"
								aria-labelledby="steps-uid-0-h-1" class="body"
								style="display: none;" aria-hidden="true"></div>
							<h1 id="steps-uid-0-h-2" tabindex="-1" class="title">Third
								Step</h1>
							<div id="steps-uid-0-p-2" role="tabpanel"
								aria-labelledby="steps-uid-0-h-2" class="body"
								style="display: none;" aria-hidden="true"></div>
						</div>
						<!-- <div class="actions clearfix">
							<ul role="menu" aria-label="Pagination">
								<li class="" aria-disabled="false"><a href=""
									role="menuitem" data-ng-click="ChangeCard(2)">Previous</a></li>
								<li aria-hidden="true" aria-disabled="true" class="disabled"
									style="display: none;"><a href="" role="menuitem">Next</a></li>
								<li aria-hidden="false" style="display: block;"><a href=""
									role="menuitem" data-ng-click="ChangeCard(1)">Finish</a></li>
							</ul>
						</div> -->
					</div>
			</section>
		</div>